.layout {
  min-height: 100vh;
}

.header {
  background: #fff;
  padding: 16px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.state {
  font-size: 14px;
  color: #999;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.card {
  width: 200px;
  margin: 16px;
  text-align: center;
  cursor: pointer;
}

.arrow-icon {
  font-size: 24px;
}

.footer {
  text-align: center;
  background: #001529;
  color: #fff;
  padding: 16px;
}