.layout {
    min-height: 100vh;
  }
  
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    color: #000;
    line-height: 0px;
}
  
  .header-content {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .service{
    font-weight: 600;
  }


  .card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 11px;
    width: 378px;
    height: 44px;
  }
  
  .body-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: -webkit-fill-available;
  
  }

  .footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    font-weight: 600;
  }

  .image{
    border-radius: 0px !important;
    width: 58px !important;
    height: auto;
    padding-left: 12px;
  }

  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .consultation-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 428px;

  }

   .ant-card-actions{
    border-top: 0px  !important;
    background: transparent !important;
  }

  .logo{
    margin-bottom: -9px;
    width: 58px;
  }

.services{
  flex-direction: column-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
}